@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
  .animate,
  .animate-reversed {
      display: flex;
      animation: scroll 40s linear infinite;
  }
  
  .animate-reversed {
      animation-direction: reverse;
  }

  @keyframes scroll {
    0%{

      transform: translateX(0);
    }
    100%{

      transform: translate(-50%);
    }
  }
  .blend-multiply {
    mix-blend-mode: multiply;
  }

}